#panel .panel-button {
  color: #ffffff !important;
}

#dash .dash-item-container .show-apps .overview-icon {
  color: #ffffff !important;
}

#dash .dash-item-container .app-grid-running-dot {
  background-color: #934b81 !important;
}

.quick-toggle:checked,
.quick-toggle-arrow:checked {
  background-color: #934b81 !important;
}

.slider {
  -barlevel-active-background-color: #934b81 !important;
  -barlevel-active-border-color: #934b81 !important;
}

#panel .panel-button#panelActivities .workspace-dot {
  background-color: #934b81 !important;
}

.calendar-day.calendar-today {
  background-color: #934b81 !important;
}
